include:
  - keycloak-config/docker-compose.init.yml

services:

  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  # MySQL para entorno demo/prod (usar RDS gestionado en cloud real)

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DB_AGREGADOR}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      # Este script inicializa las bases de datos necesarias
      - ./readmes/init-databases.sql:/docker-entrypoint-initdb.d/init.sql:ro
    command: >
      --default-authentication-plugin=mysql_native_password
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-p${MYSQL_PASSWORD}"] # Usamos -uroot
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.2
    command: start --import-realm
    env_file: .env
    environment:
      KC_DB: mysql
      KC_DB_URL_HOST: mysql
      KC_DB_URL_DATABASE: keycloak_db
      KC_DB_USERNAME: ${MYSQL_USER}
      KC_DB_PASSWORD: ${MYSQL_PASSWORD}

      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_HOSTNAME: localhost # CAMBIAR A LA IP DEL SERVIDOR CUANDO DEPLOYEAS!!!
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"


    volumes:
      - ./keycloak-config:/opt/keycloak/data/import:ro

    ports:
      - "9090:8080"
    restart: always
    depends_on:
      mysql:
        condition: service_healthy

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    restart: always
    env_file: .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      ESTADISTICA_URL: ${ESTADISTICA_URL}
      DINAMICA_URL: ${DINAMICA_URL}
      AGREGADOR_URL: ${AGREGADOR_URL}
      KEYCLOAK_URL: ${KEYCLOAK_URL}
      KEYCLOAK_JWK_SET_URI: ${KEYCLOAK_JWK_SET_URI}
      KEYCLOAK_VALID_ISSUERS: ${KEYCLOAK_VALID_ISSUERS}
      REACT_APP_API_URL: ${REACT_APP_API_URL}
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
    depends_on:
      keycloak:
        condition: service_started
      agregador:
        condition: service_started
      dinamica:
        condition: service_started
      estadistica:
        condition: service_started
    ports:
      - "${GATEWAY_PORT}:8089"

  estatica:
    build: ./estatica
    container_name: estatica
    restart: always

  dinamica:
    build: ./dinamica
    container_name: dinamica
    restart: always
    env_file: .env
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DB_DINAMICA}?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}
      GESTOR_PERSONAS_URL: ${GESTOR_PERSONAS_URL}
      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_BUCKET: ${SUPABASE_BUCKET}
      SUPABASE_SERVICE_KEY: ${SUPABASE_SERVICE_KEY}
    depends_on:
      mysql:
        condition: service_healthy

  proxy:
    build: ./proxy
    container_name: proxy
    restart: always
    environment:
      METAMAPA_INSTANCIA_URL: ${METAMAPA_INSTANCIA_URL}
    depends_on:
      proxyEjemplo:
        condition: service_started

  proxyEjemplo:
    build: ./proxyEjemplo
    image: metamapa-grupo10-proxyejemplo
    container_name: proxyEjemplo
    restart: always

  normalizador:
    build: ./normalizador
    container_name: normalizador
    restart: always

  agregador:
    build: ./agregador
    container_name: agregador
    restart: always
    env_file: .env
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DB_AGREGADOR}?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}
      ESTATICA_URL: ${ESTATICA_URL}
      DINAMICA_URL: ${DINAMICA_URL}
      PROXY_URL: ${PROXY_URL}
      NORMALIZADOR_URL: ${NORMALIZADOR_URL}
    depends_on:
      mysql:
        condition: service_healthy
      estatica:
        condition: service_started
      dinamica:
        condition: service_started
      proxy:
        condition: service_started
      normalizador:
        condition: service_started

  estadistica:
    build: ./estadistica
    container_name: estadistica
    restart: always
    env_file: .env
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DB_ESTADISTICA}?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}
      AGREGADOR_URL: ${AGREGADOR_URL}
    depends_on:
      mysql:
        condition: service_healthy
      agregador:
        condition: service_started

  gestor-personas:
    build: ./gestor-personas
    container_name: gestor-personas
    restart: always
    env_file: .env
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DB_GESTOR}?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}
    depends_on:
      mysql:
        condition: service_healthy

  frontend:
    build:
      context: ./visualizador
      dockerfile: Dockerfile
      args:
        REACT_APP_API_GATEWAY_URL_BASE: ${REACT_APP_API_GATEWAY_URL_BASE}
        REACT_APP_KEYCLOAK_URL: ${REACT_APP_KEYCLOAK_URL}
        REACT_APP_KEYCLOAK_CLIENT_ID: ${REACT_APP_KEYCLOAK_CLIENT_ID}
        REACT_APP_API_URL: ${REACT_APP_API_URL}
    image: metamapa-grupo10-frontend
    container_name: frontend
    env_file: .env
    environment:
      - REACT_APP_API_GATEWAY_URL_BASE=${REACT_APP_API_GATEWAY_URL_BASE}
      - REACT_APP_KEYCLOAK_URL=${REACT_APP_KEYCLOAK_URL}
      - REACT_APP_KEYCLOAK_CLIENT_ID=${REACT_APP_KEYCLOAK_CLIENT_ID}
      - REACT_APP_API_URL=${REACT_APP_API_URL}
    restart: always
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      api-gateway:
        condition: service_started

volumes:
  mysql_data:
  keycloak_data:
