.ventana-flotante-confirmacion-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.55);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1050;

    opacity: 0;
    animation: fadeIn 0.3s ease-out forwards;
}

.ventana-flotante-confirmacion {
    background-color: #ffffff;
    border: 2px solid #fffacd;

    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);

    width: 90%;
    max-width: 450px;
    text-align: center;

    transform: scale(0.9);
    opacity: 0;
    animation: popIn 0.3s 0.1s ease-out forwards;
}

.ventana-flotante-confirmacion h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #a5742c;
    margin-top: 0;
    margin-bottom: 1rem;
}

.ventana-botones-confirmacion {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}

.ventana-flotante-confirmacion button {
    border-radius: 20px;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;

    border: 2px solid transparent;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.boton-confirmar-reserva {
    background-color: #DA9B3C;
    color: #ffffff;
    border-color: #DA9B3C;
}

.boton-confirmar-reserva:hover {
    background-color: #c48a36;
    border-color: #c48a36;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.boton-cerrar-ventana {
    background-color: transparent;
    color: #DA9B3C;
    border-color: #DA9B3C;
}

.boton-cerrar-ventana:hover {
    background-color: #DA9B3C;
    color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes popIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}