
.perfil-container {
    background-color: #FFFBEB;
    border-radius: 16px;
    padding: 2rem;
    min-height: 80vh;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.perfil-nav-link {
    background-color: #ffffff;
    border: 1px solid rgba(218, 155, 60, 0.5);
    color: #a5742c;

    border-radius: 8px;
    margin-bottom: 0.5rem;
    font-weight: 600;
    padding: 0.75rem 1rem;
    text-align: center;

    transition: all 0.2s ease-in-out;
}

.perfil-nav-link:hover {
    background-color: #fefcf0;
    color: #a5742c;
    border-color: #DA9B3C;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}


.perfil-nav-link.active {
    background-color: #DA9B3C;
    color: #ffffff;
    border-color: #DA9B3C;
    font-weight: 700;
    box-shadow: 0 4px 8px rgba(218, 155, 60, 0.3);
}


.perfil-content {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 1.5rem;
    border: 1px solid #f0f0f0;
    min-height: 50vh;
}


.perfil-content h3 {
    color: #333;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 0.5rem;
}