
.solicitud-filtro-menu {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 300;
}

.filtro-separador {
    color: #ccc;
    font-weight: 300;
}

.filtro-opcion {
    color: #888;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}


.filtro-opcion:hover {
    color: #555;
}

.filtro-opcion.activo {
    color: #000;
    font-weight: 600;
}