.leaflet-container {
    width: 100%;
    height: 100%;
}

.custom-popup .leaflet-popup-content {
    margin: 0 !important;
    width: 260px !important;
    line-height: 1.5;
}

.popup-card-content {
    overflow: hidden;
    border-radius: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.popup-header {
    background-color: #0d6efd;
    color: white;
    padding: 10px 15px;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
}

.popup-body {
    padding: 15px;
}

.custom-popup .leaflet-popup-tip {
    background: white;
}

.custom-popup .leaflet-popup-close-button {
    color: white !important;
    top: 5px !important;
    right: 5px !important;
}